.mainPic{
  height: 400px;
  background: url(../images/shelter/1/1.png) center center no-repeat;
  background-size: cover;
}
.smallPic{
  height: 200px;
}
.item1{
  background: url(../images/shelter/1/1.png) center center no-repeat;
  background-size: cover;
}
.item2{
  background: url(../images/shelter/1/2.png) center center no-repeat;
  background-size: cover;
}
.item3{
  background: url(../images/shelter/1/3.png) center center no-repeat;
  background-size: cover;
}
.item4{
  background: url(../images/shelter/1/4.jpg) center center no-repeat;
  background-size: cover;
}