<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="mainPic" style="background: url(../assets/images/shelter/1/1.png) center center no-repeat;"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="smallPic" style="background: url(../images/shelter/1/1.png) center center no-repeat;">

          </div>
        </div>
        <div class="col-3">
          <div class="smallPic" style="background: url(../assets/images/shelter/1/2.png)center center no-repeat;">

          </div>
        </div>
        <div class="col-3">
          <div class="smallPic">

          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
